* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

header {
  background-color: #fff; }
  header .header__inner__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding: 29px 60px; }
    header .header__inner__wrapper .logo a {
      text-decoration: none;
      color: #816fca;
      font-family: "Roboto Slab", serif;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase; }
    header .header__inner__wrapper .menu {
      padding-top: 0.9%; }
      header .header__inner__wrapper .menu a {
        text-decoration: none;
        color: #45413e;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        vertical-align: bottom;
        margin-right: 60px;
        margin-top: 1.3%; }
        header .header__inner__wrapper .menu a:last-child {
          margin-right: 0; }
      header .header__inner__wrapper .menu .fall_down {
        display: inline-block;
        position: relative;
        width: 120px; }
        header .header__inner__wrapper .menu .fall_down::after {
          content: '';
          display: block;
          width: 7px;
          height: 6px;
          background: url("../img/arrowDownLittle.png") no-repeat;
          position: absolute;
          top: 7px;
          right: 1px; }
    header .header__inner__wrapper .selects {
      padding-top: 1.4%; }
      header .header__inner__wrapper .selects select {
        border: 0 !important;
        background: url("../img/arrowDownLittle.png") no-repeat;
        background-position: 25px 7px;
        opacity: 0.5;
        color: #45413e;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 700;
        width: 35px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        margin-right: 30px; }
        header .header__inner__wrapper .selects select:last-child {
          margin-right: 0;
          width: 45px;
          background-position: 35px 7px; }
        header .header__inner__wrapper .selects select:focus {
          outline: none; }
    header .header__inner__wrapper .information {
      padding-top: 0.8%; }
      header .header__inner__wrapper .information a {
        display: inline-block;
        text-decoration: none;
        margin-right: 35px; }
        header .header__inner__wrapper .information a:last-child {
          margin-right: 0; }
        header .header__inner__wrapper .information a .show_info {
          position: relative; }
          header .header__inner__wrapper .information a .show_info span {
            display: none;
            text-align: center;
            width: 18px;
            height: 18px;
            border: 2px solid #816fca;
            border-radius: 50%;
            color: #816fca;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-weight: 900;
            position: absolute;
            top: -8px;
            right: -11px; }

main {
  background-color: #f1edea;
  padding-top: 56px;
  padding-bottom: 117px; }
  main .main__inner__wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 55px;
    text-align: center; }
    main .main__inner__wrapper .bread_crumbs {
      text-decoration: none;
      color: #816fca;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 300; }
      main .main__inner__wrapper .bread_crumbs::after {
        content: '/';
        color: #bdc3c7;
        margin: 15px; }
    main .main__inner__wrapper .this_page {
      color: #45413e;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 300; }
    main .main__inner__wrapper h1 {
      color: #45413e;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 48px;
      font-weight: 700; }
    main .main__inner__wrapper .main_content_block {
      background: #fff;
      width: 1170px;
      margin: 60px auto;
      text-align: left; }
      main .main__inner__wrapper .main_content_block .galery {
        display: inline-block;
        width: 50%; }
        main .main__inner__wrapper .main_content_block .galery .item_big_pic {
          width: 599px;
          height: 568px;
          display: none; }
        main .main__inner__wrapper .main_content_block .galery .active {
          display: block; }
      main .main__inner__wrapper .main_content_block .galery_switch__and_info {
        display: inline-block;
        width: 50%;
        vertical-align: top; }
        main .main__inner__wrapper .main_content_block .galery_switch__and_info .galery__select {
          display: inline-block;
          margin-top: 27px;
          margin-left: 28px;
          margin-right: 65px; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .galery__select .galery__select__pic {
            text-decoration: none;
            display: block;
            margin-bottom: 24px;
            position: relative; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .galery__select .galery__select__pic .tempPic {
              width: 73px;
              height: 70px; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .galery__select .galery__select__pic .pic_cover {
              width: 73px;
              height: 70px;
              background: #45413e;
              opacity: 0.7;
              position: absolute;
              top: 0;
              left: 0; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .galery__select .galery__select__pic:hover > .pic_cover {
              display: none; }
        main .main__inner__wrapper .main_content_block .galery_switch__and_info .info {
          display: inline-block;
          vertical-align: top;
          margin-top: 46px; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info h3 {
            color: #45413e;
            font-family: "Roboto Slab", serif;
            font-size: 48px;
            font-weight: 700;
            margin-top: 0; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .color_select_box {
            position: relative; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .color_select_box .color_select {
              display: block;
              border: 2px solid #e8e2d6 !important;
              border-radius: 30px;
              background: url("../img/arrowDownLittle.png") no-repeat;
              background-position: 120px 17px;
              color: #45413e;
              font-family: "Roboto", sans-serif;
              font-size: 14px;
              font-weight: 700;
              width: 156px;
              height: 40px;
              appearance: none;
              -moz-appearance: none;
              -webkit-appearance: none;
              padding-left: 40px;
              margin-bottom: 20px; }
              main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .color_select_box .color_select:focus {
                outline: none; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .color_select_box .color_ball {
              width: 22px;
              height: 22px;
              background: #585d61;
              border-radius: 50%;
              position: absolute;
              top: 9px;
              left: 7px; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .inline_counter {
            display: inline-block;
            margin-right: 20px; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .inline_counter .amount {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              width: 110px;
              height: 40px;
              border: 2px solid #e8e2d6;
              border-radius: 30px;
              padding: 0 17px; }
              main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .inline_counter .amount a {
                text-decoration: none;
                color: #999;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                font-weight: 700; }
              main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .inline_counter .amount span {
                color: #45413e;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 400; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info #add_cart {
            display: inline-block;
            width: 157px;
            height: 40px;
            background-color: #816fca;
            border: 2px solid #816fca;
            border-radius: 30px;
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .descript {
            display: block;
            width: 348px;
            height: 111px;
            margin-top: 50px;
            margin-bottom: 15px;
            overflow: scroll;
            color: #45413e;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .more {
            text-decoration: none;
            color: #816fca;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 700; }
          main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .share {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-top: 30px;
            width: 188px; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .share span {
              color: #45413e;
              opacity: 0.6;
              font-family: "Roboto", sans-serif;
              font-size: 14px; }
            main .main__inner__wrapper .main_content_block .galery_switch__and_info .info .share .social a {
              text-decoration: none;
              margin-left: 24px; }
      main .main__inner__wrapper .main_content_block .tabs__block {
        margin-top: 50px; }
        main .main__inner__wrapper .main_content_block .tabs__block .tabs__ladels {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding: 0 180px; }
          main .main__inner__wrapper .main_content_block .tabs__block .tabs__ladels a {
            display: inline-block;
            padding: 15px 45px;
            text-decoration: none;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 27px;
            font-weight: 700;
            color: #bdc3c7; }
          main .main__inner__wrapper .main_content_block .tabs__block .tabs__ladels .active {
            color: #000;
            border-top: 2px solid #e8e2d6;
            border-left: 2px solid #e8e2d6;
            border-right: 2px solid #e8e2d6;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom: 2px solid #fff; }
        main .main__inner__wrapper .main_content_block .tabs__block .tabs__block__bloks {
          border-top: 2px solid #e8e2d6;
          margin-top: -2px; }
          main .main__inner__wrapper .main_content_block .tabs__block .tabs__block__bloks .tabs__block__content {
            display: none;
            padding: 57px 70px 70px; }
            main .main__inner__wrapper .main_content_block .tabs__block .tabs__block__bloks .tabs__block__content p {
              display: inline-block;
              margin-top: 20px;
              width: 451px;
              margin-right: 80px;
              color: #555;
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              font-weight: 300;
              line-height: 24px; }
              main .main__inner__wrapper .main_content_block .tabs__block .tabs__block__bloks .tabs__block__content p:last-child {
                margin-right: 0; }
          main .main__inner__wrapper .main_content_block .tabs__block .tabs__block__bloks .active {
            display: block; }
    main .main__inner__wrapper .slider__block {
      margin: 45px auto 0;
      width: 1170px; }
      main .main__inner__wrapper .slider__block .slider__nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        main .main__inner__wrapper .slider__block .slider__nav h4 {
          margin-top: 0;
          color: #45413e;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 26px;
          font-weight: 700;
          text-transform: uppercase; }
      main .main__inner__wrapper .slider__block .slider__content {
        width: 1170px;
        overflow: hidden; }
        main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper {
          white-space: nowrap; }
          main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline {
            display: inline-block; }
            main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline .slider_flexy {
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                      justify-content: space-between; }
              main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline .slider_flexy .slider__boxes {
                display: inline-block;
                text-decoration: none;
                text-align: center;
                background: #fff;
                width: 270px;
                border-radius: 6px;
                overflow: hidden;
                margin-right: 30px; }
                main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline .slider_flexy .slider__boxes:last-child {
                  margin-right: 0; }
                main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline .slider_flexy .slider__boxes .descript_tag {
                  margin: 10px auto;
                  width: 203px; }
                  main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline .slider_flexy .slider__boxes .descript_tag p {
                    color: #45413e;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 700; }
                main .main__inner__wrapper .slider__block .slider__content .inner__slider__wrapper .slider_inline .slider_flexy .slider__boxes .slider_item_price_tag {
                  color: #bdc3c7;
                  font-family: "Roboto Slab", serif;
                  font-size: 14px;
                  font-weight: 700; }

.prefooter {
  background-color: #45413e;
  padding-top: 52px;
  padding-bottom: 61px; }
  .prefooter .inner_prefooter_wrapper {
    width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .prefooter .inner_prefooter_wrapper .prefooter__block {
      width: 320px;
      padding-left: 80px;
      position: relative; }
      .prefooter .inner_prefooter_wrapper .prefooter__block h5 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 900;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 15px; }
        .prefooter .inner_prefooter_wrapper .prefooter__block h5::before {
          content: '';
          width: 100px;
          height: 100px;
          position: absolute;
          top: 20px;
          left: -25px; }
      .prefooter .inner_prefooter_wrapper .prefooter__block .delivery::before {
        background: url(../img/delivery.png) center no-repeat; }
      .prefooter .inner_prefooter_wrapper .prefooter__block .return::before {
        background: url(../img/return.png) center no-repeat; }
      .prefooter .inner_prefooter_wrapper .prefooter__block .choice::before {
        background: url(../img/choice.png) center no-repeat; }
      .prefooter .inner_prefooter_wrapper .prefooter__block p {
        color: #868380;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400; }

footer {
  background-color: #fff;
  padding-top: 41px;
  padding-bottom: 50px; }
  footer .inner_footer_wrapper {
    width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .inner_footer_wrapper .copyright {
      margin-right: 120px;
      width: 135px; }
      footer .inner_footer_wrapper .copyright .span,
      footer .inner_footer_wrapper .copyright a,
      footer .inner_footer_wrapper .copyright h6 {
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: #45413e; }
      footer .inner_footer_wrapper .copyright a {
        text-decoration: none;
        color: #816fca; }
      footer .inner_footer_wrapper .copyright h6 {
        margin-top: 0; }
    footer .inner_footer_wrapper .footer_heading {
      color: #333;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 900;
      text-transform: uppercase;
      margin-top: 0; }
    footer .inner_footer_wrapper .the_list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    footer .inner_footer_wrapper .categories_box {
      margin-right: 105px;
      vertical-align: top; }
      footer .inner_footer_wrapper .categories_box a {
        text-decoration: none;
        opacity: 0.7;
        color: #45413e;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 31px;
        display: block; }
    footer .inner_footer_wrapper .social_links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      footer .inner_footer_wrapper .social_links a {
        text-decoration: none;
        margin-right: 25px;
        vertical-align: top; }

/*# sourceMappingURL=style.css.map */